无密码的私钥key,怎么读取

当前有一个无密码的私钥文件soft.key 和 对应的证书文件：soft.cer，请问如何通过gmssl（命令行或者函数接口）获取soft.key 里面的私钥？谢谢

这两个文件已经通过https://the-x.cn/cryptography/Sm2.aspx验证无误。
详见以下步骤：
获取到soft.cer里面的公钥：双击该文件
![image](https://github.com/guanzhi/GmSSL/assets/159012717/f2071f75-5a2c-4e2f-ac9b-388c93e11992)

04 93 e9 64 c1 43 5c 13 94 ae 2e 0e e0 09 16 18 4a 3e e8 43 a4 9f 58 39 de b4 e3 86 09 93 04 a8 b7 92 cf 48 00 62 1c 9c 6a 70 c0 0f 96 a3 4e a8 53 89 63 4c 42 fa 99 7c 8b 36 09 ee 49 ef 56 34 1c
在https://the-x.cn/cryptography/Sm2.aspx 里面验证加解密
加密过程，如下图：（上面的公钥copy到下图位置后，鼠标点明文位置，则公钥自动转成-----BEGIN PUBLIC KEY-----.....-----END PUBLIC KEY-----这种格式）
![image](https://github.com/guanzhi/GmSSL/assets/159012717/133a1993-2777-454e-baf6-4578145f09a2)

解密过程，如下图：（私钥文件，则将soft.key文件内容copy到下图位置即可）
![image](https://github.com/guanzhi/GmSSL/assets/159012717/6414b9bc-a137-4ac8-bdf3-268c7c17a18f)




无密码的私钥文件soft.key，如下图：
![image](https://github.com/guanzhi/GmSSL/assets/159012717/984af39c-e49f-4364-81ea-a58f7689a53c)
soft.key内容如下：
-----BEGIN PRIVATE KEY-----
MIGHAgEAMBMGByqGSM49AgEGCCqBHM9VAYItBG0wawIBAQQgOa3ppbTLiG5kUG6n
kubkr/0I+Ebivvodq9BaQYMpNsKhRANCAAScDe21aIlS3W0XSwQ8AuBiF681dhJR
rqXMnhlsYzw1CIdGW9ptWuWZwsgbWXVvIOj+2ud26/mrR1B0WZ9iKGHZ
-----END PRIVATE KEY-----
对应的证书文件soft.cer，如下图：
![image](https://github.com/guanzhi/GmSSL/assets/159012717/b843dad2-05db-4162-8f96-839ce42b198c)
soft.cer内容如下：
-----BEGIN CERTIFICATE-----
MIICTTCCAfOgAwIBAgIJAOWoGwJCndt2MAoGCCqBHM9VAYN1MGcxCzAJBgNVBAYT
AkNOMRAwDgYDVQQIDAdCZWlqaW5nMRAwDgYDVQQHDAdIYWlEaWFuMRMwEQYDVQQK
DApHTUNlcnQub3JnMR8wHQYDVQQDDBZHTUNlcnQgR00gUm9vdCBDQSAtIDAxMB4X
DTI0MDEyNDA5MDAwMFoXDTI1MDEyMzA5MDAwMFowYjELMAkGA1UEBhMCNjYxCzAJ
BgNVBAgMAjU1MQswCQYDVQQHDAI0NDELMAkGA1UEBwwCMzMxCzAJBgNVBAoMAjIy
MQswCQYDVQQKDAIxMTESMBAGA1UEAwwJdGVzdF9OVUxMMFkwEwYHKoZIzj0CAQYI
KoEcz1UBgi0DQgAEnA3ttWiJUt1tF0sEPALgYhevNXYSUa6lzJ4ZbGM8NQiHRlva
bVrlmcLIG1l1byDo/trnduv5q0dQdFmfYihh2aOBjDCBiTAMBgNVHRMBAf8EAjAA
MAsGA1UdDwQEAwIHgDAsBglghkgBhvhCAQ0EHxYdR01DZXJ0Lm9yZyBTaWduZWQg
Q2VydGlmaWNhdGUwHQYDVR0OBBYEFLgpNzezd7Hs307jtoQXYGW3oQH3MB8GA1Ud
IwQYMBaAFH9aXjsAhFkqD5i+oQ5vOZVDEE0HMAoGCCqBHM9VAYN1A0gAMEUCIQDh
KwUL+a/JnoDf8cXaUkrty+t9f7H/Ob0ElI5ETcZHdAIgYHmgM/n3M5a04b+4wrna
EUPf68vuiWz0EUndQSJ45zA=
-----END CERTIFICATE-----


如果你的未加密私钥符合RFC 5915，那么可以用：
```
/*
from RFC 5915

ECPrivateKey ::= SEQUENCE {
	version		INTEGER,	-- value MUST be (1)
	privateKey	OCTET STRING,	-- big endian encoding of integer 这里不是以INTEGER编码的，因此长度固定
	parameters	[0] EXPLICIT ECParameters OPTIONAL,
					-- ONLY namedCurve OID is permitted, by RFC 5480
					-- MUST always include this field, by RFC 5915
	publicKey	[1] EXPLICIT BIT STRING OPTIONAL -- compressed_point
					-- SHOULD always include this field, by RFC 5915 }

ECParameters ::= CHOICE { namedCurve OBJECT IDENTIFIER }
*/
sm2_private_key_from_pem
sm2_private_key_from_der
```

如果是无加密的pkcs#8，则用
```
/*
PKCS #8 PrivateKeyInfo from RFC 5208

PrivateKeyInfo ::= SEQUENCE {
	version			Version { v1(0) },
	privateKeyAlgorithm	AlgorithmIdentifier,
	privateKey		OCTET STRING, -- DER-encoding of ECPrivateKey
	attributes		[0] IMPLICIT SET OF Attribute OPTIONAL }
*/
sm2_private_key_info_from_pem
sm2_private_key_info_from_der
```

> 如果你的未加密私钥符合RFC 5915，那么可以用：
> 
> ```
> /*
> from RFC 5915
> 
> ECPrivateKey ::= SEQUENCE {
> 	version		INTEGER,	-- value MUST be (1)
> 	privateKey	OCTET STRING,	-- big endian encoding of integer 这里不是以INTEGER编码的，因此长度固定
> 	parameters	[0] EXPLICIT ECParameters OPTIONAL,
> 					-- ONLY namedCurve OID is permitted, by RFC 5480
> 					-- MUST always include this field, by RFC 5915
> 	publicKey	[1] EXPLICIT BIT STRING OPTIONAL -- compressed_point
> 					-- SHOULD always include this field, by RFC 5915 }
> 
> ECParameters ::= CHOICE { namedCurve OBJECT IDENTIFIER }
> */
> sm2_private_key_from_pem
> sm2_private_key_from_der
> ```
> 
> 如果是无加密的pkcs#8，则用
> 
> ```
> /*
> PKCS #8 PrivateKeyInfo from RFC 5208
> 
> PrivateKeyInfo ::= SEQUENCE {
> 	version			Version { v1(0) },
> 	privateKeyAlgorithm	AlgorithmIdentifier,
> 	privateKey		OCTET STRING, -- DER-encoding of ECPrivateKey
> 	attributes		[0] IMPLICIT SET OF Attribute OPTIONAL }
> */
> sm2_private_key_info_from_pem
> sm2_private_key_info_from_der
> ```

您好,我们跟踪了一下代码,发现是GMSSL中的私钥带了一个"a0",但是我们获取到的私钥没有包含“a0”,这块有标准吗?  这个碰到一些问题是不是就需要改源码？
 <NODE Sign="a0">
    <OBJECT_IDENTIFIER Comment="China GM Standards Committee" Description="sm2ECC">1.2.156.10197.1.301</OBJECT_IDENTIFIER>
   </NODE>

GMSSL解析出的未加密的私钥和ASN.1值:
```
-----BEGIN PRIVATE KEY-----
MIGTAgEAMBMGByqGSM49AgEGCCqBHM9VAYItBHkwdwIBAQQgTIpwoZcgX4s0Gl4B
pc+/Fk0qMCqwalAVz/3gDk76wvCgCgYIKoEcz1UBgi2hRANCAASxBIypyTZzpYTh
LX2zJRwagYdLhDm/HKt8BFrEtFMRNdR3cRsptnQ3B65GVMl5cza5y08sO+M6YsGh
zaz5FZVG
-----END PRIVATE KEY-----
```

```
<SEQUENCE>
 <INTEGER/>
 <SEQUENCE>
  <OBJECT_IDENTIFIER Comment="ANSI X9.62 public key type" Description="ecPublicKey">1.2.840.10045.2.1</OBJECT_IDENTIFIER>
  <OBJECT_IDENTIFIER Comment="China GM Standards Committee" Description="sm2ECC">1.2.156.10197.1.301</OBJECT_IDENTIFIER>
 </SEQUENCE>
 <OCTET_STRING>
  <SEQUENCE>
   <INTEGER>1</INTEGER>
   <OCTET_STRING>0x4C8A70A197205F8B341A5E01A5CFBF164D2A302AB06A5015CFFDE00E4EFAC2F0</OCTET_STRING>
   <NODE Sign="a0">
    <OBJECT_IDENTIFIER Comment="China GM Standards Committee" Description="sm2ECC">1.2.156.10197.1.301</OBJECT_IDENTIFIER>
   </NODE>
   <NODE Sign="a1">
    <BIT_STRING>0x0004B1048CA9C93673A584E12D7DB3251C1A81874B8439BF1CAB7C045AC4B4531135D477711B29B6743707AE4654C9797336B9CB4F2C3BE33A62C1A1CDACF9159546</BIT_STRING>
   </NODE>
  </SEQUENCE>
 </OCTET_STRING>
</SEQUENCE>
```

其它人提供的私钥格式:
```
-----BEGIN PRIVATE KEY-----
MIGHAgEAMBMGByqGSM49AgEGCCqBHM9VAYItBG0wawIBAQQgOa3ppbTLiG5kUG6n
kubkr/0I+Ebivvodq9BaQYMpNsKhRANCAAScDe21aIlS3W0XSwQ8AuBiF681dhJR
rqXMnhlsYzw1CIdGW9ptWuWZwsgbWXVvIOj+2ud26/mrR1B0WZ9iKGHZ
-----END PRIVATE KEY-----
```

```
<SEQUENCE>
 <INTEGER/>
 <SEQUENCE>
  <OBJECT_IDENTIFIER Comment="ANSI X9.62 public key type" Description="ecPublicKey">1.2.840.10045.2.1</OBJECT_IDENTIFIER>
  <OBJECT_IDENTIFIER Comment="China GM Standards Committee" Description="sm2ECC">1.2.156.10197.1.301</OBJECT_IDENTIFIER>
 </SEQUENCE>
 <OCTET_STRING>
  <SEQUENCE>
   <INTEGER>1</INTEGER>
   <OCTET_STRING>0x39ADE9A5B4CB886E64506EA792E6E4AFFD08F846E2BEFA1DABD05A41832936C2</OCTET_STRING>
   <NODE Sign="a1">
    <BIT_STRING>0x00049C0DEDB5688952DD6D174B043C02E06217AF35761251AEA5CC9E196C633C350887465BDA6D5AE599C2C81B59756F20E8FEDAE776EBF9AB475074599F622861D9</BIT_STRING>
   </NODE>
  </SEQUENCE>
 </OCTET_STRING>
</SEQUENCE>
```

你这个a0部分(tag 0)就是ECPrivateKey的
```
	parameters	[0] EXPLICIT ECParameters OPTIONAL,
					-- ONLY namedCurve OID is permitted, by RFC 5480
					-- MUST always include this field, by RFC 5915
```
部分，绝大部分实现应该包含这个值。当然，如果解析功能做得兼容性好一点，也能解析。

项目源代码啊include/gmssl/sm2.h。当然目前不加密的私钥封装主要也就这两种：RFC 5915/SEC1，pkcs#8。